
/* Общие стили */

*  {}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container{padding: 0;}
.row{padding: 0; margin: 0;}

nav{
    text-align: right;
    padding: 20px 0;
    background: #1b6d85;
}
nav a{
    color: #fff;
    margin: 0 10px;
    font-size: 18px;
}
nav a:hover{color: #fff;}

.content{min-height: calc(100vh - 75px);}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #1b6d85;
    margin-top: 25px;
    line-height: 50px;
    text-align: center;
}

footer a { color: #fff;}
footer a:hover{ color: #fff;}

/* Общие стили */

/* Главная страница */

.main-interface {
    width: 100%;
    height: auto;
    background: #1b6d85;
    color: #fff;
}

.login {margin-top: 35px;text-align: right;}
.login a {
    margin-right: 10px;
    color: #fff;
    font-size: 18px;
}

.quest-info {
    text-align: center;
    margin-top: 120px;
}
.quest-info h1 { font-size: 48px; margin-bottom: 80px;}

.info {}
.info img{margin-bottom: 80px;}
.info p{text-align: left; font-size: 18px; margin: 50px 0;}

/* Главная страница */

/* Профиль пользователя */

.profile{
    height: auto;
    background: #1b6d85;
    color: #fff;
}

.my-profile h1{margin: 0 0 40px 15px;}
.my-profile img{margin-bottom: 20px; border-radius: 10px;}
.my-profile button{
    color: black; margin: 15px 0;
    background-color: #e9ecef;
    background-image: none;
    border-color: rgba(27,31,35,.35);
    box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,.15);}

.info-element{font-size: 22px; margin-bottom: 15px; color: black;}
.info-element span{
    padding: 5px;
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.info-element div{
    padding: 10px 5px;
    border-radius: 0 10px 0 10px;
    border: 2px solid #fff !important;
    width: 100%;
    box-shadow: inset 0 0 6px;
    background: #f6f8fa;
}

.my-position
{
    text-align: center;
    margin: 10px 0;
}

.position-info{
    font-size: 20px;
    color: black;
}
.position-info div{
    border: 2px solid #fff;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #fff;
}
.position-info div:last-child
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    background: #f6f8fa;
    margin-bottom: 15px;
    box-shadow: inset 0 0 6px;
}
/* Профиль пользователя */

/* Профиль админа */
/* Профиль админа */

/* Страница входа */

.auth-form{
    padding: 0 10px;
}

@media screen and (max-width: 1000px){
    .auth-form{margin: 10vh 0 0 0;}
}
.auth-form h1{margin: 0; color: #fff;}
.auth-form form{
    max-width: 700px;
    padding: 50px;
    border: 1px solid;
    border-radius: 10px;
    background: #1b6d85;
    box-shadow: black 0 0 8px;
}

.form-input{margin: 20px 0;}
.form-input label{
    background: #f6f8fa;
    margin: 0;
    border-radius: 10px 10px 0 0;
    padding: 0 5px;
    font-size: 18px;
}
.form-input input{
    border: #fff 2px solid;
    border-radius: 0 10px 0 10px;
    box-shadow: inset 0 0 6px;
    font-size: 18px;
    height: 50px;
}
.form-input span{color: #fff;}

.form-continue a{
    color: #fff;
    margin: 0 10px;
    font-size: 18px;
}

.form-continue button
{
    color: black; margin: 15px 0;
    background-color: #e9ecef;
    background-image: none;
    border-color: rgba(27,31,35,.35);
    box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,.15);
}

/* Страница входа */

/* Страница регистрации */



/* Страница регистрации */
