/* Общие стили */

* {
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    padding: 0;
}

.row {
    padding: 0;
    margin: 0;
}

nav {
    text-align: right;
    padding: 20px 0;
    background: #1b6d85;
}

a {
    color: #fff;
    margin: 0 10px;
    font-size: 18px;
}

a:hover {
    color: #fff;
}


.content {
    min-height: calc(100vh - 75px);
}

.btn {
    margin-top: 36px; background: #e9ecef; width: 100%; color: black;
    transition: .2s;
}

.btn:hover {
    background: #f90;
    transition: .2s;
}

button {
    color: black;
    margin: 15px 0;
    background-color: #e9ecef;
    background-image: none;
    border-color: rgba(27, 31, 35, .35);
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #1b6d85;
    margin-top: 25px;
    line-height: 50px;
    text-align: center;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #fff;
}

/* Общие стили */

/* Главная страница */

.main-interface {
    width: 100%;
    height: auto;
    background: #1b6d85;
    color: #fff;
}

.login {
    margin-top: 35px;
    text-align: right;
}

.login a {
    margin-right: 10px;
    color: #fff;
    font-size: 18px;
}

.quest-info {
    text-align: center;
    margin-top: 120px;
}

.quest-info h1 {
    font-size: 48px;
    margin-bottom: 80px;
}

.info {
}

.info img {
    margin-bottom: 80px;
}

.info p {
    text-align: left;
    font-size: 18px;
    margin: 50px 0;
}

/* Главная страница */

/* Профиль пользователя */

.profile {
    height: auto;
    background: #1b6d85;
    color: #fff;
    padding: 20px 0;
}

.my-profile h1 {
    margin: 0 0 40px 15px;
}

.my-profile img {
    margin-bottom: 20px;
    border-radius: 10px;
}

.info-element {
    font-size: 22px;
    margin-bottom: 15px;
    color: black;
}

.info-element span {
    padding: 5px;
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.info-element div {
    padding: 10px 5px;
    border-radius: 0 10px 10px 10px;
    border: 2px solid #fff !important;
    width: 100%;
    box-shadow: inset 0 0 6px;
    background: #f6f8fa;
}

.my-position {
    text-align: center;
    margin: 10px 0;
}

.position-info {
    font-size: 20px;
    color: black;
}

.position-info div {
    border: 2px solid #fff;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #fff;
}

.position-info div:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    background: #f6f8fa;
    margin-bottom: 15px;
    box-shadow: inset 0 0 6px;
}

.profile-quest {
    background: #1b6d85;
    color: #fff;
    margin-top: 20px;
    padding: 30px 0;
}

.profile-quest h1, h4 {
    margin: 10px 0 10px 15px;
    color: #fff !important;
}

.profile-quest img {
    margin: 30px 0;
    float: right;
}

.no-quest{
    text-align: center;
    color: #fff;
    margin: 0 15px;
    border-radius: 10px;
}
.no-quest h2{line-height: 285px;}

@media screen and (max-width: 1000px)
{
    .no-quest h2{line-height: 30px;}
}

/*таймер*/
#clockdiv {
    font-family: sans-serif;
    color: black;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

#clockdiv > div {
    padding: 10px;
    border-radius: 3px;
    background: #fff;
    display: inline-block;
}

#clockdiv div > span {
    padding: 15px;
    border-radius: 3px;
    background: #f6f8fa;
    display: inline-block;
    box-shadow: inset 0 0 6px;
}

.smalltext {
    padding-top: 5px;
    font-size: 16px;
}

/*таймер*/

.stage-info {
    margin: 30px 0;
    font-size: 16px;
    height: 100%;
}

.profile-quest form button {
    color: black;
    margin: 15px 0;
}

.stage-description {
    margin-left: 15px;
}

/* Профиль пользователя */

/* Профиль админа */

.admin-profile-quest {
    text-align: center;
    margin-top: 20px;
    padding: 30px 15px;
    color: #fff;
    background: #1b6d85;
}
.admin-profile-quest h1{margin: 10px 0 30px 15px;}
.admin-profile-quest a {
    text-decoration: none;
    margin: 0;
}

.simple-little-table a{
    color: black;
    background: #eaebec;
}
.simple-little-table a:hover{text-decoration: none !important; color: black !important;}
.simple-little-table {
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    font-size:14px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    width: 100%;
    border:#ccc 1px solid;
    border-collapse:separate;
    margin-bottom: 30px;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}

.simple-little-table th {
    font-weight:bold;
    padding:21px 25px 22px 25px;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.simple-little-table th:first-child{
    text-align: left;
    padding-left:20px;
}
.simple-little-table tr:first-child th:first-child{
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
.simple-little-table tr:first-child th:last-child{
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}
.simple-little-table tr{
    text-align: center;
    padding-left:20px;
}
.simple-little-table tr td:first-child{
    text-align: left;
    padding-left:20px;
    border-left: 0;
}
.simple-little-table tr td {
    padding:18px;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;

    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.simple-little-table tr:nth-child(even) td{
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.simple-little-table tr:last-child td{
    border-bottom:0;
}
.simple-little-table tr:last-child td:first-child{
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
.simple-little-table tr:last-child td:last-child{
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}
.simple-little-table tr:hover td{
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}

.simple-little-table a:link {
    color: #666;
    font-weight: bold;
    text-decoration:none;
}
.simple-little-table a:visited {
    color: #999999;
    font-weight:bold;
    text-decoration:none;
}
.simple-little-table a:active,
.simple-little-table a:hover {
    color: #bd5a35;
    text-decoration: underline;
}

.admin-profile-quest table div{background: #e9ecef; color: black;}

.control-element {
    font-size: 18px;
    color: black;
    background: #fff;
    border: 5px solid #fff;
    border-radius: 10px;
    padding: 0;
}

.control-element img {
    background: #f6f8fa;
    padding: 5px;
    border-radius: 4px;
    margin-right: 15px;
    width: 100%;
    box-shadow: inset black 0 0 6px;
    float: left;
}


/* Профиль админа */

/* Создание квеста */

.make-quest{
    height: auto;
    margin: 20px auto;
    background: #1b6d85;
}
.make-quest h1{
    color: black;
    margin: 30px 0 30px 15px;
    background: #f6f8fa;
    border-radius: 10px;
    padding: 10px 15px;
    border: 2px solid #fff;
    box-shadow: inset 0 0 6px;
}
.make-quest .form-input h1, h2, h3, h4, h5{color: black;}

.make-quest-info{
    width: 100%;
    background: #f6f8fa;
    border-radius: 10px;
    padding: 30px 15px;
    border: 2px solid #fff;
    box-shadow: inset 0 0 6px;
}
.make-quest-info h1{
    border: none;
    box-shadow: none;
    margin: 10px 15px;
    color: black;
    text-decoration: underline;
}
.make-quest-info li{font-size: 16px; list-style: none;}

/* Создание квеста */

/* Страница входа */


.auth-form {
    padding: 0 10px;
}
.login-name .col-md-4{
    padding: 0;
    padding-right: 10px;
}

@media screen and (max-width: 1000px) {
    .auth-form {
        margin: 10vh 0 0 0;
    }
    .login-name .col-md-4{padding: 0;}
}

.auth-form h1, h2 {
    margin: 0;
    color: #fff;
}

.auth-form form {
    max-width: 700px;
    padding: 50px;
    border: 1px solid;
    border-radius: 10px;
    background: #1b6d85;
    box-shadow: black 0 0 8px;
}

.form-input {
    margin: 20px 0;
}

.form-input label {
    background: #f6f8fa;
    margin: 0;
    border-radius: 10px 10px 0 0;
    padding: 0 5px;
    font-size: 18px;
}

.form-input input {
    border: #fff 2px solid;
    border-radius: 0 10px 10px 10px;
    box-shadow: inset 0 0 6px;
    font-size: 18px;
    height: 50px;
}

.form-input span {
    color: #fff;
}

.form-continue a {
    color: #fff;
    margin: 0 10px;
    font-size: 18px;
}

.form-continue button {
    color: black;
    padding: 15px 0;
    margin: 15px 0;
    background-color: #e9ecef;
    background-image: none;
    border-color: rgba(27, 31, 35, .35);
    box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, .15);
}

/* Страница входа */

/* Страница регистрации */

.my-confirm{color: #fff;}

.my-confirm input[type=checkbox] {
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(1.8);
    padding: 10px;
    margin: 10px 8px;
}

/* Страница регистрации */
