*  {}

body {
    margin: 0;
    padding: 0;
}

.container{padding: 0;}

/* Главная страница */

.main-interface {
    width: 100%;
    height: auto;
    background: #1b6d85;
    color: #fff;
}

.login {float: right; margin-top: 35px; }
.login a {
    margin-right: 10px;
    color: #fff;
    font-size: 18px;
    text-align: right;
}

.quest-info {
    text-align: center;
    margin-top: 120px;
}
.quest-info h1 { font-size: 48px; margin-bottom: 80px;}

.info {}
.info img{margin-bottom: 80px;}
.info p{text-align: left; font-size: 18px; margin: 50px 0;}

footer {
    width: 100%;
    height: 50px;
    background: #1b6d85;
    margin-top: 25px;
    line-height: 50px;
    text-align: center;
}

footer a { color: #fff;}
footer a:hover{ color: #fff;}

/* Главная страница */

/* Профиль пользователя */

.profile{
    height: auto;
    background: #1b6d85;
    color: #fff;
}
nav{
    text-align: right;
    padding: 20px 0;
}
nav a{
    color: #fff;
    margin: 0 10px;
    font-size: 18px;
}
nav a:hover{color: #fff;}

.my-profile h1{margin: 0 0 40px 10px;}
.my-profile img{margin-bottom: 20px; border-radius: 10px;}
.my-profile button{color: black; margin: 15px 0; width: 100%; background-color: #e9ecef;
    background-image: none;
    border-color: rgba(27,31,35,.35);
    box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,.15);}

.info-element{font-size: 22px; margin-bottom: 15px; color: black;}
.info-element span{
    padding: 5px;
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.info-element div{
    padding: 10px 5px;
    border-top-right-radius: 10px;
    border: 2px solid #fff !important;
    width: 100%;
    box-shadow: inset 0 0 6px;
    background: #f6f8fa;
}

.my-position
{
    text-align: center;
    margin: 10px 0;
}

.position-info{
    font-size: 20px;
    color: black;
}
.position-info div{
    border: 2px solid #fff;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #fff;
}
.position-info div:last-child
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    background: #f6f8fa;
    margin-bottom: 15px;
    box-shadow: inset 0 0 6px;
}
/* Профиль пользователя */

/* Профиль админа */
/* Профиль админа */
